._4steps {
  display: flex;
  flex-direction: column;
  align-items: center;

  ._4steps_items_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: 38px;
      margin: 1em;
      font-family: $font-base;
      font-weight: bolder;
    }

    img {
      margin-top: 1em;
      margin-bottom: 2em;
    }
  }

  ._4steps_icons_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 325px;
    width: 100%;
    background: #F0F1F1 0 0 no-repeat padding-box;

    ._4steps_icons {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin: 4em;

      h2 {
        font-size: 18px;
        font-family: $font-base;
        font-weight: bolder;
      }

      .line {
        border: 1px solid #707070;
        width: 70px;

      }

      p {
        font-size: 1em;
        font-family: $font-base;
        font-weight: bolder;
      }

      ._4steps_icons_item {
        margin: 0.5em;
      }
    }
  }
  .btn {
    width: 310px;
    height: 120px;
    margin: 1em;
    border: 0.75px solid #3C3C3C;
    font-size: 36px;
    font-family: $font-base;
    font-weight: bolder;
    &:hover{
      color:#ffffff;
      background-color:#000000;
      border: 0.75px solid grey;
    }
  }
}